/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para a barra superior com o botão de logout */
.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para o botão de logout na barra superior */
.logout-button {
    background-color: #ff5555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #ff3333;
}

/* Estilo para o contêiner da página inicial */
.home-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Estilo para os botões de PDF */
.pdf-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.pdf-button:hover {
    background-color: #0056b3;
}

/* Estilo para o corpo da página de login */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o contêiner do formulário de login */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Estilo para o título "Login" */
.login-container h1 {
    color: #333;
}

/* Estilo para os campos de entrada de texto e o botão */
.login-container input, .login-container button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão de login */
.login-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}





* Estilo para o menu */
.menu {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Estilo para o botão de expansão do menu */
.menu-toggle {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-toggle:hover {
    background-color: #0056b3;
}

/* Estilo para a lista do menu */
#menu-list {
    list-style-type: none;
    padding: 0;
}

#menu-list li {
    padding: 10px;
}

#menu-list a {
    color: #fff;
    text-decoration: none;
}

#menu-list a:hover {
    text-decoration: underline;
}